.about-me-container {
  margin-top: 140px;
  min-width: 300px;
  max-width: 100%;

  .header-container {
    display: flex;
    left: 56%;
    position: relative;

    h1 {
      justify-self: center;
    }
  }

  .about-me-box-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;

    .about-me-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
      max-width: 1300px;
      justify-content: center;
      gap: 40px;
      align-items: center;

      .about-me-image {
        flex: 0.4;
        display: block;

        img {
          width: 100%;
          min-width: 350px;
          border-radius: 50px;
        }
      }


      @media (min-width: 860px) {
        .about-me-text { min-width: 575px; }
      }

      @media (max-width: 860px) {
        .about-me-text { min-width: 350px; }
      }

      .about-me-text {
        flex: 0.6;
        background: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 50px;
        height: auto;
        display: flex;
        align-items: center;

        p {
          font-size: 25px;
          line-height: 1.5em;
          font-weight: 500;
          text-align: center;
        }

        @media (max-width: 860px) {
          p {
            font-size: 19px;
          }
        }
      }
    }
  }
}

