.contact-me-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .my-contacts {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    flex: 0.5;

    h3 {
      text-align: left;
    }
  }
}

.contact-me-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.5;
  min-width: 350px;
  min-height: 500px;
  height: 55vh;
  background-image: url("/assets/images/test-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact-page {
  display: flex;
}

.inline {
  display: flex;
  gap: 5px;
  justify-content: center;
}

@media (max-width: 430px) {
  .inline {
    align-items: center;
  flex-direction: column;
  }
}

.clickable {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 8vh;
}

h2, h3 {
  line-break: auto;
}
