<div class="landing-section">
    <div class="landing-grid app-grid">
      <div class="title-container">
        <p>
          <span>{{"main.page.header" |translate}}</span>
        </p>
      </div>
      <div class="secondary-title-container">
          <h1>{{"main.page.text" |translate }}</h1>
      </div>
      <div class="button-container">
        <button pButton class="contact-me-button" [label]="'main.page.button' |translate"
        (click)="openModal()">
        </button>
      </div>
    </div>
</div>
