:host ::ng-deep .landing-section {
  margin-left: 15%;
  margin-right: 15%;

  .landing-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .secondary-title-container {
      min-height: 119px;
      height: auto;
      width: auto;
      margin: 0px 0px 30px calc((100% - 980px) * 0);
      align-self: start;
      display: flex;
      justify-content: center;
      width: 100%;

      h1 {
        text-align: center;
        color: rgba(194,173,139,255);
      }
    }

    .button-container{
      justify-self: center;

      .contact-me-button {
        background: rgba(194,173,139,255);
        border: none;
        border-radius: 20px;
        width: 170px;

        span {
          font-weight: 500;
        }
      }

      .contact-me-button:hover {
        background: rgba(194,173,139,255);
        border: none;
      }
    }
  }
}

.background-container {
  background-image: url("/assets/images/test-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 860px) {
  .grid-container { grid-template-columns: repeat(1, 1fr); }

  .grid-item:nth-child(1) {
    border-bottom: 3px solid white;
  }

  .grid-item:nth-child(2) {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .grid-item:nth-child(3) {
    border-top: 3px solid white;
  }
}

@media (min-width: 860px) {
  .grid-container {   grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up 1 fraction of the available space */
  }

  .grid-item:nth-child(1) {
    border-right: 3px solid white;
  }

  .grid-item:nth-child(2) {
    border-right: 3px solid white;
    border-left: 3px solid white;
  }

  .grid-item:nth-child(3) {
    border-left: 3px solid white;
  }
}

.grid-container {
  display: grid;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  p {
    width: 80Į;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }
}

.columns {
  min-height: 300px;
}
