.landing-section {
  background-image: url("/assets/images/test-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .landing-grid {
    .title-container {
      position: relative;
      margin: 121px 0px 20px calc((100% - 980px) * 0);
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
    }

    .secondary-title-container {
      min-height: 119px;
      height: auto;
      width: 387px;
      position: relative;
      margin: 0px 0px 30px calc((100% - 980px) * 0);
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;

      p {
        line-height: 1.5em;
        font-size: 40px;

        span {
          line-height: 1.5em;
          font-size: 40px;
        }
      }
    }

    .contact-me-button {

    }
  }
}
