<p-dialog
  [header]="'contacts.registration' | translate"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '100vw', minWidth: '320px', maxWidth: '472px' }"
  [draggable]="false"
  [resizable]="true"
  appendTo="body"
  (onHide)="hideModal()"
>
  <ng-template pTemplate="content">
    <div class="container">
      <div class="form-block">
        <div>
          <div class="form-container">
            <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="row">
                  <div class="field">
                    <label for="firstName" class="block">{{
                      "contacts.first.name.label" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      required
                      pInputText
                      [(ngModel)]="model.firstName"
                      name="firstName"
                      #name="ngModel"
                    />
                  </div>

                  <div class="field">
                    <label for="lastName" class="block">{{
                      "contacts.last.name.label" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      required
                      pInputText
                      [(ngModel)]="model.lastName"
                      name="lastName"
                      #name="ngModel"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="field">
                    <label for="email" class="block">{{
                      "contacts.email.label" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      required
                      pInputText
                      [(ngModel)]="model.email"
                      name="email"
                      #name="ngModel"
                    />
                  </div>

                  <div class="field">
                    <label for="phone" class="block">{{
                      "contacts.phone.label" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="phone"
                      [placeholder]="'contacts.phone.placeholder' | translate"
                      pInputText
                      [(ngModel)]="model.phone"
                      name="phone"
                      #name="ngModel"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="field">
                    <label for="social" class="block">{{
                      "contacts.socials.label" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="social"
                      [placeholder]="'contacts.socials.placeholder' | translate"
                      pInputText
                      [(ngModel)]="model.social"
                      name="social"
                      #name="ngModel"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="field">
                    <label for="message" class="block">{{
                      "contacts.message.label" | translate
                    }}</label>
                    <textarea
                      rows="5"
                      cols="30"
                      class="form-control"
                      required
                      pInputTextarea
                      [placeholder]="'contacts.message.placeholder' | translate"
                      [(ngModel)]="model.message"
                      [autoResize]="true"
                      name="message"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="button-container">
                <button
                  type="submit"
                  pButton
                  class="btn btn-success registration-button"
                  [disabled]="!heroForm.form.valid"
                  [label]="'contacts.send.button' | translate"
                ></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
