.reviews-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: lightblue;
  height: 570px;
  padding: 30px;
  border-radius: 100px;

  h2 {
    font-size: 40px;
  }
}

.reviews-title-container {
  flex: 0.5;
}

.review-block {
  flex: 0.5;
}

:host ::ng-deep .p-carousel-item {
  display: flex;
  justify-content: center;
}
