.reviews-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: lightblue;
  height: 700px;
  padding: 30px;
}

.reviews-title-container {
  flex: 0.5;
}

.review-block {
  flex: 0.5;
}
