.block-grid {
  position: static;
  display: grid;
  justify-items: center;
  height: auto;
  width: 100%;
  min-height: 630px;
  max-width: 1000px;
  min-width: 730px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background: white;
  padding: 60px;
  justify-self: center;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
}
