<div class="app-grid">
  <div class="block-grid">
    <div class="block">
      <h2>Subjects</h2>
      <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
    </div>
    <div class="block">
      <h2>Tutoring Options</h2>
      <p>Online One on One Lessons:
        I'm a paragraph. Click here to add your own text and edit me.</p>
      <p>Rate: $45/hr</p>
    </div>
    <div class="block">
      <h2>Levels of Teaching</h2>
      <p>Junior High

        High School

        College Applications</p>
    </div>
    <div class="block">
      <h2>Online Group Sessions</h2>
      <p>Online One on One Lessons:
        I'm a paragraph. Click here to add your own text and edit me.</p>
      <p>Rate: $45/hr</p>
    </div>
  </div>
</div>
