<div class="app-grid">
  <div class="block-grid">
    <div class="block">
      <h2>{{'blocks.block.first.header' |translate}}</h2>
      <p>{{'blocks.block.first.content' |translate}}</p>
    </div>
    <div class="block">
      <h2>{{'block.block.second.header' |translate}}</h2>
      <p>{{'block.block.second.content' |translate}}</p>
      <p>{{'blocks.rate' |translate}}</p>
    </div>
    <div class="block">
      <h2>{{'block.block.third.header' |translate}}</h2>
      <p>{{'block.block.third.content' |translate}}</p>
    </div>
    <div class="block">
      <h2>{{'block.block.fourth.header' |translate}}</h2>
      <p>{{'block.block.fourth.content' |translate}}</p>
        <p>{{'blocks.rate' |translate}}</p>
      </div>
  </div>
</div>
